.text-EDE8E3 {
    color: $color-EDE8E3;
}

.text-1C1C1C {
    color: $color-1C1C1C;
}

.text-707070 {
    color: $color-707070;
}

.text-CCCCCB {
    color: $color-CCCCCB;
}

.text-1C1A1A {
    color: $color-1C1A1A;
}

.text-151515 {
    color: $color-151515;
}

.text-D9C393 {
    color: $color-D9C393;
}

.text-DDDDDD {
    color: $color-DDDDDD;
}

.text-C9C9C9 {
    color: $color-C9C9C9;
}

.text-A29C5A {
    color: $color-A29C5A;
}

.text-F5F5F5 {
    color: $color-F5F5F5;
}

.text-1C1C1C66 {
    color: $color-1C1C1C66;
}

.text-00000048 {
    color: $color-00000048;
}

.text-1C1C1C4D {
    color: $color-1C1C1C4D;
}

.bg-EDE8E3 {
    background-color: $color-EDE8E3;
}

.bg-1C1C1C {
    background-color: $color-1C1C1C;
}

.bg-707070 {
    background-color: $color-707070;
}

.bg-CCCCCB {
    background-color: $color-CCCCCB;
}

.bg-1C1A1A {
    background-color: $color-1C1A1A;
}

.bg-151515 {
    background-color: $color-151515;
}

.bg-D9C393 {
    background-color: $color-D9C393;
}

.bg-DDDDDD {
    background-color: $color-DDDDDD;
}

.bg-C9C9C9 {
    background-color: $color-C9C9C9;
}

.bg-A29C5A {
    background-color: $color-A29C5A;
}

.bg-F5F5F5 {
    background-color: $color-F5F5F5;
}

.bg-1C1C1C66 {
    background-color: $color-1C1C1C66;
}

.bg-00000048 {
    background-color: $color-00000048;
}

.bg-1C1C1C4D {
    background-color: $color-1C1C1C4D;
}


.font12 {
    font-size: $font12;
}

.font14 {
    font-size: $font14;
}

.font16 {
    font-size: $font16;
}

.font18 {
    font-size: $font18;
}

.font20 {
    font-size: $font20;
}

.font24 {
    font-size: $font24;
}

.font26 {
    font-size: $font26;
}

.font30 {
    font-size: $font30;
}

.font32 {
    font-size: $font32;
}

.font36 {
    font-size: $font36;
}

.font40 {
    font-size: $font40;
}

.font50 {
    font-size: $font50;
}

.font60 {
    font-size: $font60;
}

.leading10 {
    line-height: $leading10;
}

.leading18 {
    line-height: $leading18;
}

.leading26 {
    line-height: $leading26;
}

.leading28 {
    line-height: $leading28;
}

.leading31 {
    line-height: $leading31;
}

.leading38 {
    line-height: $leading38;
}

.leading42 {
    line-height: $leading42;
}

.leading50 {
    line-height: $leading50;
}

.leading52 {
    line-height: $leading52;
}

.leading62 {
    line-height: $leading62;
}


.space-0_72 {
    letter-spacing: $space-0_72;
}

.space-0_64 {
    letter-spacing: $space-0_64;
}

.space-0_6 {
    letter-spacing: $space-0_6;
}

.space-0_56 {
    letter-spacing: $space-0_56;
}

.space-0_52 {
    letter-spacing: $space-0_52;
}

.space-0_5 {
    letter-spacing: $space-0_5;
}
.space-0_4 {
    letter-spacing: $space-0_4;
}

.space-0_32 {
    letter-spacing: $space-0_32;
}

.space-0_3 {
    letter-spacing: $space-0_3;
}

.space-0_28 {
    letter-spacing: $space-0_28;
}

.space-0_24 {
    letter-spacing: $space-0_24;
}

.space-0_2 {
    letter-spacing: $space-0_2;
}

.space-0_16 {
    letter-spacing: $space-0_16;
}

.space-0_14 {
    letter-spacing: $space-0_14;
}

.radius32 {
    border-radius: $radius32;
}

.opacity20{
    opacity: $opacity20;
}

@include media-breakpoint-down(lg) {

    .res-font12 {
        font-size: $font12;
    }

    .res-font14 {
        font-size: $font14;
    }

    .res-font16 {
        font-size: $font16;
    }

    .res-font18 {
        font-size: $font18;
    }

    .res-font20 {
        font-size: $font20;
    }

    .res-font24 {
        font-size: $font24;
    }

    .res-font26 {
        font-size: $font26;
    }

    .res-font30 {
        font-size: $font30;
    }

    .res-font32 {
        font-size: $font32;
    }

    .res-font36 {
        font-size: $font36;
    }

    .res-font40 {
        font-size: $font40;
    }

    .res-font50 {
        font-size: $font50;
    }

    .res-font60 {
        font-size: $font60;
    }

    .res-font15 {
        font-size: $res-font15;
    }

    .res-font10 {
        font-size: $res-font10;
    }
    .res-font11 {
        font-size: $res-font11;
    }

    .res-font13 {
        font-size: $res-font13;
    }

    .res-font28 {
        font-size: $res-font28;
    }

    .res-font18 {
        font-size: $res-font18;
    }

    .res-leading10 {
        line-height: $leading10;
    }
    
    .res-leading18 {
        line-height: $leading18;
    }
    
    .res-leading22 {
        line-height: $res-leading22;
    }
    
    .res-leading26 {
        line-height: $leading26;
    }
    
    .res-leading28 {
        line-height: $leading28;
    }
    
    .res-leading31 {
        line-height: $leading31;
    }
    
    .res-leading38 {
        line-height: $leading38;
    }
    
    .res-leading42 {
        line-height: $leading42;
    }
    
    .res-leading50 {
        line-height: $leading50;
    }
    
    .res-leading52 {
        line-height: $leading52;
    }
    
    .res-leading62 {
        line-height: $leading62;
    }

    .res-space-0_72 {
        letter-spacing: $space-0_72;
    }
    
    .res-space-0_64 {
        letter-spacing: $space-0_64;
    }
    
    .res-space-0_6 {
        letter-spacing: $space-0_6;
    }
    
    .res-space-0_56 {
        letter-spacing: $space-0_56;
    }
    
    .res-space-0_52 {
        letter-spacing: $space-0_52;
    }
    
    .res-space-0_5 {
        letter-spacing: $space-0_5;
    }
    
    .res-space-0_32 {
        letter-spacing: $space-0_32;
    }
    
    .res-space-0_3 {
        letter-spacing: $space-0_3;
    }
    
    .res-space-0_28 {
        letter-spacing: $space-0_28;
    }
    
    .res-space-0_24 {
        letter-spacing: $space-0_24;
    }
    
    .res-space-0_2 {
        letter-spacing: $space-0_2;
    }
    
    .res-space-0_16 {
        letter-spacing: $space-0_16;
    }
    
    .res-space-0_14 {
        letter-spacing: $space-0_14;
    }

    .res-space-0_26 {
        letter-spacing: $res-space-0_26;
    }

    .res-space-0_22 {
        letter-spacing: $res-space-0_22;
    }

    .res-space-0_28 {
        letter-spacing: $res-space-0_28;
    }

    .res-space-0_36 {
        letter-spacing: $res-space-0_36;
    }

    .res-space-0_12 {
        letter-spacing: $res-space-0_12;
    }
}