.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.find-us-cards {
    height: 352px;

    @include media-breakpoint-down(lg) {
        height: 136px;
    }
}