.card-hover {
  .img {
    transform: scale(1) !important;
    transition: 0.3s all ease-in-out;
  }

  &:hover {
    .img {
      transform: scale(1.1) !important;
    }
  }
}

.find-us-cards {
  height: 352px;

  @include media-breakpoint-down(lg) {
    height: 136px;
  }
}

.shop-slide {
  .shop-img {
    height: 295px;

    @include media-breakpoint-down(lg) {
      height: 230px;
    }
  }

  &:hover {
    .shop-content {
      background-color: rgba($color: $black, $alpha: 0.1);
      .link-hover {
        transform: translateY(0);
      }
      .shop-title {
        transform: translateY(-100%);
      }
    }
  }

  .link-hover {
    transform: translateY(40px);
    @include media-breakpoint-down(lg) {
      transform: translateY(0);
    }
  }

  .shop-title {
    transform: translateY(45px);

    @include media-breakpoint-down(lg) {
      transform: translateY(-100%);
    }
  }

  .shop-content {
    @include media-breakpoint-down(lg) {
      background-color: rgba($color: $black, $alpha: 0.1);
    }
  }
}

.product-cards {
  &:hover {
    .img--hover {
      opacity: 1;
      visibility: visible;
    }
    .first--img {
      opacity: 0;
      visibility: hidden;
    }
  }

  .product--img {
    height: 420px;

    @include media-breakpoint-down(lg) {
      height: 233px;
    }

    .img--hover {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.three-card-img {
  height: 530px;

  @include media-breakpoint-down(lg) {
    height: 313px;
  }
}
