.find-us-slider {
  .slick-list {
    margin-inline: -3px !important;

    .slick-slide {
      padding-inline: 3px !important;
    }
  }
}

.basket-product-slider {
  .slick-list {
    margin-inline: -9px !important;

    .slick-slide {
      padding-inline: 9px !important;
    }
  }
}

.find-us-section {
  .slick-arrows {
    .prev-arrow,
    .next-arrow {
      height: 38px;
      width: 38px;
      background-color: rgba($color: $black, $alpha: 0.1);
      filter: blur(7) brightness(-10px);

      @include media-breakpoint-down(lg) {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.hero-section {
  .hero-slider {
    margin-bottom: 0;
  }
  .slick-slider-dots {
    bottom: 45px;
    .slick-dots {
      position: initial;
      text-align: left;
      li {
        height: 2px;
        width: 94px;
        background-color: $color-EDE8E3;
        opacity: 20%;
        margin: 0;
        &.slick-active {
          opacity: 1;
        }
        button {
          display: none;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      bottom: 63px;
    }
  }
}

.shop-slider,
.product-slider,
.inspiration-slider {
  .slick-list {
    margin-inline: -3px;

    @include media-breakpoint-down(lg) {
      margin-inline: -5px;
    }

    .slick-slide {
      padding-inline: 3px;

      @include media-breakpoint-down(lg) {
        padding-inline: -5px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .slick-list {
      overflow: visible;
    }
  }
}

.inspiration-slider {
  .slick-track {
    display: flex;
    align-items: baseline;
  }
}

.why-titanium-section {
  .why-titanium-left-slider {
    .slick-slide {
      &.slick-active.slick-current {
        .left-title {
          opacity: 100%;
        }
      }
    }
  }
}
