.find-us-slider {
    .slick-list {
        margin-inline: -3px !important;

        .slick-slide {
            padding-inline: 3px !important;
        }
    }
}

.find-us-section {
    .slick-arrows {

        .prev-arrow,
        .next-arrow {
            height: 38px;
            width: 38px;
            background-color: rgba($color: $black, $alpha: 0.1);
            filter: blur(7) brightness(-10px);

            @include media-breakpoint-down(lg) {
                height: 30px;
                width: 30px;
            }
        }
    }
}
.hero-section {
  .hero-slider {
    margin-bottom: 0;
  }
  .slick-slider-dots {
    bottom: 45px;
    .slick-dots {
      position: initial;
      text-align: left;
      li {
        height: 2px;
        width: 94px;
        background-color: $color-EDE8E3;
        opacity: 20%;
        margin: 0;
        &.slick-active {
          opacity: 1;
        }
        button {
          display: none;
        }
      }
    }
    @include media-breakpoint-down(lg){
        bottom: 63px;
        
    }
  }
}
