.payment-icons {
  ul {
    li {
      height: 24px;
      &:first-child {
        margin-left: 0px !important;
      }
      &:last-child {
        margin-right: 0px !important;
      }
    }
  }
}

.category-content-section,
.blog-cards-section {
  .filter-data {
    @include media-breakpoint-down(lg) {
      padding-left: 11px;
    }
  }
}
