.your-bag-section {
  .basket-parts,
  .total-parts {
    border-top: 1px solid rgba($color: $color-1C1C1C, $alpha: 0.1);
    .basket-product-img {
      width: 85px;
      height: 110px;
    }
  }

  .basket-parts {
    &:first-child {
      border-top: 0px !important    ;
    }
    &:last-child {
      border-bottom: 1px solid rgba($color: $color-1C1C1C, $alpha: 0.1);
    }
  }
  .basket-product-cards {
    .basket-product-img {
      height: 247px;
    }
  }

  .payment-icons {
    ul {
      li {
        height: 32px !important;
      }
    }
  }
}
