.category-content-section {
    .content-dec {
        a {
            font-family: "parabolicatest-medium";
            color: $color-1C1C1C;
        }
    }

    .category-button {
        height: 38px;
        padding-inline: 20px;
        border: 1px solid $color-1C1A1A;
        margin-right: 15px;

        @include media-breakpoint-down(lg) {
            height: 30px;
            margin-right: 10px;
        }

        &:last-child {
            margin-right: 0px !important;
        }
    }
}

.divider {
    border: 1px solid rgba($color: $color-1C1C1C, $alpha: 0.2);
}

.category-cards-section {
    .switch-container {
        height: 16px;
    }

    .switch {
        border-radius: 22px;
        background-color: rgba($color: $color-1C1C1C, $alpha: 0.1) !important;
        width: 30px;
        height: 16px;

        input:checked+.slider {
            transform: translateX(14px);
        }

        .slider {
            transition: .4s;
            height: 100%;
            width: 100%;

            &::before {
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                left: 2px;
                bottom: 2px;
                background-color: $color-1C1C1C;
                transition: .4s;
                border-radius: 50%;
            }
        }
    }
}