.why-titanium-section {
  .left-image,.right-content {
    height: 630px;
  }
  .right-content{
    padding: 85px 80px 96px 80px;
    .logo-img{
        height: 100px;
        width: 100px;
    }
  }
}
