/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 68 | &.bg-1C1C1C-EDE8E3-btn {
 *    | ^
 *    '
 *   src\scss\components\_buttons.scss 68:1  @import
 *   src\scss\main.scss 38:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 68 \2502  &.bg-1C1C1C-EDE8E3-btn {\d\a    \2502  ^\a    \2575 \a   src\\scss\\components\\_buttons.scss 68:1  @import\a   src\\scss\\main.scss 38:9                 root stylesheet';
}
