/* Error: Undefined variable.
 *     ,
 * 430 |         letter-spacing: $res-space0_26;
 *     |                         ^^^^^^^^^^^^^^
 *     '
 *   src\scss\common\_utilities.scss 430:25                     @content
 *   node_modules\bootstrap\scss\mixins\_breakpoints.scss 78:7  media-breakpoint-down()
 *   src\scss\common\_utilities.scss 263:1                      @import
 *   src\scss\main.scss 37:9                                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 430 \2502          letter-spacing: $res-space0_26;\d\a     \2502                          ^^^^^^^^^^^^^^\a     \2575 \a   src\\scss\\common\\_utilities.scss 430:25                     @content\a   node_modules\\bootstrap\\scss\\mixins\\_breakpoints.scss 78:7  media-breakpoint-down()\a   src\\scss\\common\\_utilities.scss 263:1                      @import\a   src\\scss\\main.scss 37:9                                    root stylesheet";
}
